.fg-1 {
  flex-grow: 1;
  height: 0;
}

.opacity-flash {
  animation: opacity-flash 1s infinite;
  -webkit-animation: opacity-flash 1s infinite;
  -moz-animation: opacity-flash 1s infinite;
  -o-animation: opacity-flash 1s infinite;
  -ms-animation: opacity-flash 1s infinite;
}

.border-none {
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

.border-bottom-left-radius-0 {
  border-bottom-left-radius: 0 !important;
}

.border-bottom-right-radius-0 {
  border-bottom-right-radius: 0 !important;
}

.border-bottom-left-radius-0p25rem {
  border-bottom-left-radius: 0.25rem !important;
}

.border-bottom-right-radius-0p25rem {
  border-bottom-right-radius: 0.25rem !important;
}

.fit-images {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.fit-round {
  background-size: cover !important;
}

.fit-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.blur {
  -webkit-filter: blur(15px) !important;
  -moz-filter: blur(15px) !important;
  -o-filter: blur(15px) !important;
  -ms-filter: blur(15px) !important;
  filter: blur(15px) !important;
}

.badge-h5 > div {
  height: 1.2em;
  width: 1.2em;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.table-row-clickable {
  cursor: pointer;
  transition: 0.25s;
}

.line-height-16 {
  line-height: 1.6;
}

.square-15 {
  height: 15rem;
  width: 15rem;
}

.square-12 {
  height: 12rem;
  width: 12rem;
}

.square-10 {
  height: 10rem;
  width: 10rem;
}

.square-8 {
  height: 8rem;
  width: 8rem;
}

.square-7 {
  height: 7rem;
  width: 7rem;
}

.square-6 {
  height: 6rem;
  width: 6rem;
}

.square-5 {
  height: 5rem;
  width: 5rem;
}

.square-4 {
  height: 4rem;
  width: 4rem;
}

.square-3 {
  height: 3rem;
  width: 3rem;
}

.square-3-em {
  height: 3em;
  width: 3em;
}

.square-2 {
  height: 2rem;
  width: 2rem;
}

.bg-darkblu {
  background-color: rgb(25, 118, 210) !important;
}

.bg-indigo {
  background-color: var(--mdb-indigo) !important;
}

.bg-pink {
  background-color: rgb(252, 69, 223) !important;
}

.bg-litebrown {
  background-color: #a1887f !important;
}

.bg-litegrey {
  background-color: #e0e0e0 !important;
}

.bg-teal {
  background-color: var(--mdb-teal) !important;
}

.bg-purple {
  background-color: var(--mdb-purple) !important;
}

.bg-liteteal {
  background-color: var(--mdb-liteteal) !important;
}

.bg-emission-replies {
  background-color: rgba(129, 212, 250, 0.5) !important;
}

.text-inherit {
  color: inherit !important;
}

.text-blue {
  color: var(--mdb-blue) !important;
}

.text-green {
  color: var(--mdb-green) !important;
}

.hover-opacity-80:hover {
  opacity: 0.5 !important;
}

.hover-liteteal:hover {
  background-color: var(--mdb-liteteal) !important;
}

.hover-liteindigo:hover {
  background-color: #9fa8da !important;
}

.hover-litecyan:hover {
  background-color: #b2ebf2 !important;
}

.hover-litered:hover {
  background-color: #b2ebf2 !important;
}

.hover-bluegray:hover {
  background-color: var(--mdb-bluegray) !important;
}

.text-liteteal {
  color: var(--mdb-teal) !important;
}

.text-purple {
  color: var(--mdb-purple) !important;
}

.text-teal {
  color: var(--mdb-teal) !important;
}

.text-litegrey {
  color: #e0e0e0 !important;
}

.text-litebrown {
  color: #a1887f !important;
}

.text-pink {
  color: rgb(252, 69, 223) !important;
}

.text-indigo {
  color: var(--mdb-indigo) !important;
}

.text-darkblu {
  color: rgb(25, 118, 210) !important;
}

.border-gray {
  border-color: var(--mdb-gray) !important;
}

.bg-gray {
  background-color: var(--mdb-gray) !important;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-unset {
  text-transform: unset !important;
}

.text-btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.25rem;
}

.border-blusteel {
  border-color: var(--mdb-blusteel) !important;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.w-15r {
  width: 15rem !important;
}

.btn-xl {
  border-radius: 0.67rem;
  padding: 1rem 2.15rem 0.8rem 2.15rem;
  font-size: 1.1rem;
  line-height: 2.1;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-y-overlay {
  overflow-y: overlay !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.overflow-y-scroll::-webkit-scrollbar {
  opacity: 0;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-default-child > * {
  cursor: default !important;
}

.min-h-100 {
  min-height: 100% !important;
}

.min-h-50 {
  min-height: 50% !important;
}

.min-w-20 {
  min-width: 20% !important;
}

.min-w-100 {
  min-width: 100% !important;
}

.max-w-90 {
  max-width: 90% !important;
}

.max-w-33 {
  max-width: 33% !important;
}

.min-w-50 {
  min-width: 50% !important;
}

.max-h-100 {
  max-height: 100% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.w-33 {
  width: 33% !important;
}

.w-34 {
  width: 34% !important;
}

.w-20 {
  width: 20% !important;
}

.w-10 {
  width: 10% !important;
}

.transition-25 {
  transition: 0.25s;
}

.transition-33 {
  transition: 0.33s;
}

.transition-1 {
  transition: 1s;
}

.scale-half-up {
  transform: scale(0.75, 0.75) translateY(-2rem);
}

.scale-half-down {
  transform: scale(0.75, 0.75) translateY(2rem);
}

.scale-half-left {
  transform: scale(0.75, 0.75) translateX(-2rem);
}

.scale-half {
  transform: scale(0.75, 0.75);
}



.left-86 {
  left: 86px !important;
}

.left-10 {
  left: 10% !important;
}

.left-0 {
  left: 0 !important;
}

.bottom-05 {
  bottom: 0.5rem !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

.max-w-95 {
  max-width: 95% !important;
}

.min-h-max-content {
  min-height: max-content !important;
}

.h-max-content {
  height: max-content !important;
}

.h-0 {
  height: 0 !important;
}

.h-95 {
  height: 95% !important;
}

.h-100-child > * {
  height: 100% !important;
}

.min-w-max-content {
  min-width: max-content !important;
}

.max-w-max-content {
  max-width: max-content !important;
}

.w-max-content {
  width: max-content !important;
}

.rotate-180-ccw {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform: rotate(-180deg);
}

.invis {
  cursor: default !important;
  opacity: 0 !important;
}

.btn-delete {
  background: #ebebeb;
}

.btn-delete:hover {
  background: #adadad;
  transition: 0.25s;
}

.scrollbar-slim::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.scrollbar-slim::-webkit-scrollbar {
  width: 0.15rem;
}

.scrollbar-slim::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  border: 0px;
}

.pe-1rem {
  padding-right: 1rem !important;
}

.border-transparent {
  border-color: transparent !important;
}

@media screen and (min-width: 769px){
  .scale-minor-hover:hover,
  .scale-minor-hover-active {
    transform: scale(1.01, 1.01) !important;
  }

  .scale-minor-hover-shrink:hover {
    transform: scale(0.95, 0.95) !important;
    opacity: 0.9 !important;
  }
}

@keyframes opacity-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes opacity-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
