@font-face {
  font-family: Humanist-A;
  src: url("https://jizzer.s3.amazonaws.com/shared/public/fonts/Humanist-A.ttf");
}

@font-face {
  font-family: Humanist-B;
  src: url("https://jizzer.s3.amazonaws.com/shared/public/fonts/Humanist-B.ttf");
}

@font-face {
  font-family: Pokemon GB;
  src: url("https://jizzer.s3.amazonaws.com/shared/public/fonts/Pokemon.ttf");
}

#edit-profile-modal-body, #action-modal-body {
  flex: 1 1 auto;
}

.modal-buttons-mobile {
  height: 4rem;
}

.file-modal-close-small {
  display: none;
  top: 10px;
  right: 10px;
}

.emission-text-mobile.e-text-barebones {
  display: block;
}

.emission-text-regular.e-text-barebones {
  display: none;
}

.text-input-tooltips,
.text-input-tooltips-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iframe-videos {
  min-width: 66%;
  max-width: 100%;
  aspect-ratio: 16/9;
}

.menu-toggle {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.message-list-buttons-mobile {
  display: none;
}

.e-text-barebones > div > .display-6 {
  font-size: 1.5rem;
}

.go-live-buttons-mobile {
  display: none;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

.grecaptcha-badge {
  visibility: hidden;
}

.no-route {
  cursor: default !important;
}

.no-route.cursor-pointer {
  cursor: pointer !important;
}

.list-group-item.active > i {
  color: #fff !important;
}

.global-input-button {
  background-color: rgba(25, 118, 210, 0.5) !important;
}

.feed-emissions {
  width: 80%;
}

.file-modal-info {
  padding: 1rem 0 0 1rem;
}

.file-arrow-containers {
  padding: 1rem;
}

.file-modal-icons {
  margin-right: 0.5rem;
}

.emission-footer-buttons {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.tooltip {
  transition: 0 !important;
}

.feed-nav-stats {
  width: 20%;
}

.nav-item-containers {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-icons {
  font-size: 2em;
}

.file-modal-arrows {
  font-size: 3em;
}

.emission-stat-icons {
  margin-right: 1rem;
  text-align: center;
}

.file-dividers {
  display: none;
}

.sample-profile-info,
.profile-info {
  margin-top: 1.5rem;
}

.message-list-mobile {
  display: none;
}

.message-button-container {
  justify-content: flex-end;
}

.stream-chat {
  width: 25vw;
  height: 90vh;
  right: 0.5rem;
  bottom: 0.5rem;
}

.stream-control-buttons {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.33s linear !important;
  bottom: 3rem;
}

.live-viewers-close {
  top: 1rem;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.message-list-buttons {
  display: none !important;
}

.menu-toggle {
  transition: all 0.3s ease-out !important;
  top: 0;
  bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 100vh;
}

.file-modal-info {
  display: flex;
  flex-direction: column;
}

.file-details-body {
  height: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.text-pkmn {
  font-family: Pokemon GB !important;
}

.stream-button-live {
  left: 10%;
  bottom: 0.5rem;
}

.image-thumbnails {
  max-height: 150px;
  max-width: 150px;
}

.form-containers {
  width: 500px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.form-containers-lg {
  width: 700px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* mdb fixes  */

.select-wrapper > .form-outline > .form-label {
  transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8) !important;
}

.select-wrapper > .form-outline > .form-notch > .form-notch-middle {
  border-top: transparent !important;
}

.dropdown-items {
  padding: 0.85rem !important;
}

* {
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.motion-divs {
  overflow-x: hidden;
}

.emission-text-mobile {
  display: none;
}

.links-generic-light {
  transition: 0.25s;
}

.links-generic-light:hover {
  color: #ccc !important;
}

#background-image-profile {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#emission-label,
#emission-label-signalboost,
#emission-label-reply,
#label-private-message,
#emission-label-main {
  background-color: var(--mdb-body-contrast) !important;
}

#avatar-border-profile {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  position: absolute;
  bottom: -3rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar-image-profile {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 93%;
  width: 93%;
  z-index: 1000;
  border-radius: 50%;
}

#forgot-password {
  text-align: center;
  text-decoration: none;
  margin-top: 0.9rem;
  width: 100%;
  display: block;
  color: var(--mdb-primary) !important;
  cursor: pointer !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked,
.css-u4tvz2-MuiFormLabel-root.Mui-focused,
.css-1a5icme.Mui-checked {
  color: var(--mdb-primary) !important;
}

.MuiLinearProgress-colorPrimary > .MuiLinearProgress-bar {
  background-color: var(--mdb-primary) !important;
}

.MuiLinearProgress-colorSuccess > .MuiLinearProgress-bar {
  background-color: #14a44d !important;
}

.select-users {
  width: 12rem;
  max-width: 95%;
}

.sidenav.sidenav-slim-collapsed {
  width: 86px !important;
}

.ql-editor {
  min-height: 5.5rem;
  padding: 0.5rem;
}

.ql-mention,
.ql-hashtag,
a {
  cursor: pointer;
}

.file-labels {
  background-color: rgba(200, 200, 200, 0.5);
}

.file-labels-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

#streamer-background-container {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.tooltip-inner {
  min-width: max-content;
}

/* .MuiTab-labelIcon.Mui-selected > i{
    color: rgb(25, 118, 210) !important;
} */

.css-1atmgwh.Mui-selected,
.MuiTab-labelIcon.Mui-selected > i {
  color: var(--mdb-primary) !important;
}

[contenteditable]:focus {
  outline: 0px solid transparent !important;
}

#search-group > .input-group-text {
  height: calc(2.315rem + 0.33rem + 3px) !important;
}

#search-group > .input-group-text:nth-of-type(2) {
  padding: 0 !important;
  border: 0 !important;
}

#search-group > .form-outline {
  flex-grow: 1;
  width: 0;
}

.badge-chadmin,
.name-chadmin > .badge-chadmin {
  background-color: var(--mdb-yellow) !important;
}

.badge-janny,
.name-janny > .badge-janny {
  background-color: var(--mdb-green) !important;
}

.badge-verified,
.name-verified > .badge-verified {
  background-color: rgb(28, 202, 255) !important;
}

.chat-avatars {
  width: 48px !important;
  height: 48px !important;
}

.search-avatars {
  width: 24px !important;
  height: 24px !important;
}

.profile-bubbles::after {
  display: none !important;
}

.btn-close-modal {
  color: var(--mdb-default) !important;
}

.file-stats {
  font-size: 2rem;
}

@keyframes spinner-ripple {
  0% {
    top: 47px;
    left: 47px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  70% {
    opacity: 0.75;
  }
  100% {
    top: -1.5px;
    left: -1.5px;
    width: 97px;
    height: 97px;
    opacity: 0;
  }
}
.spinner-ripple-child div {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: spinner-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.spinner-ripple-child div:nth-child(1) {
  border-color: #ffffff;
  animation-delay: 0s;
}
.spinner-ripple-child div:nth-child(2) {
  border-color: #ffffff;
  animation-delay: -0.5s;
}
.spinner-ripple {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
}
.spinner-ripple-child {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner-ripple-child div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
